<p>Mutaciones</p>

<div class="row">
  <div class="col-6">
    <input
      #txtFirstName
      type="text"
      class="form-control mt-2"
      placeholder="FirstName"
      (input)="onfieldUpdated('first_name', txtFirstName.value)"
      [value]="user().first_name"
    />
    <input
      #txtLastName
      type="text"
      class="form-control mt-2"
      placeholder="LastName"
      (input)="onfieldUpdated('last_name', txtLastName.value)"
      [value]="user().last_name"
    />
    <input
      #txtEmail
      type="text"
      class="form-control mt-2"
      placeholder="Buscar"
      (input)="onfieldUpdated('email', txtEmail.value)"
      [value]="user().email"
    />
  </div>
  <div class="col-6">
    <p>datos del ususario</p>
    <pre>{{ user() | json }}</pre>

    <p>FullName</p>
    {{ fullName() }}
  </div>
</div>
